/* 
    Created on : 28 feb 2024, 15:37:53
    Author     : Stiward Araya & Justin Mendez
*/

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    /*TODO estilos generales*/
}

.login-panel{
    -fx-background-color: rgb(197, 235, 170);
}

/*.login-panel--imagen{
    -fx-background-image: url(" ~/img/LoginBackground.jpg ");  No funciona 
}*/

.login-titulo--principal{
    -fx-font-family: "Lilita One", sans-serif;
    -fx-font-size: 25px;
    -fx-text-fill: #0C359E;
}

.login-boton--ingreso{
    -fx-background-color: rgb(197, 235, 170);
    -fx-alignment: left;
    -fx-font-family: "Lilita One", sans-serif;
    -fx-font-size: 20px;
    -fx-cursor: hand;
}.login-boton--ingreso:hover{
    -fx-background-color: rgb(165, 221, 155);
}

.login-label--form{
    -fx-font-size: 14px;
    -fx-font-family: "Lilita One", sans-serif; 
}

.login-enlace{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-underline: true;
    -fx-cursor: hand;
}

